// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;
// Example of variable definitions
$primary: #7b7373;
$secondary: #939393;
$success: #e8e8e0;
$info: #c3b4a3;
$warning: #7b7373;
$danger: #bab6b1;
$light: #a4a4a4;
$dark: #c4b8ad;
$muted: #837c7c;
$base: #4e4c4c;
$successGreen: #198754;
$dangerRed:#bb2d3b